* {
    box-sizing: border-box;
}

html {
    /* line-height: 1.71; */

}

body {
    margin: 0;
    font-size: 1 rem;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}

a:visited {
    color: reset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    /* font-weight: 400;
    line-height: 1.4; */
}

li {
    list-style-type: none;
}

button {
    cursor: pointer;
}

i {
    cursor: pointer;
}

button,
.btn {
    cursor: pointer;
    border-radius: 2em;
    align-self: flex-start;
    padding: 0 1.25em;
    line-height: 2.25;
    font-family: lato-bold;
    color: #C2C1C1;
    font-size: 1rem;
    background: none;
    border: #E1E0E0 solid 1px;
    position: relative;
    transition: padding .3s;
    height: 2.5em;
}

button:hover,
.btn {
    color: var(--col1);
    border: 2px solid var(--col1);
}