/* notes */
.notes-index {
    column-count: 4;
    break-inside: avoid;
    display: inline-block;
    /* gap: 10px; */
    background-color: #f4f0ec;
}


.note-container {
    border: 1px solid black;
    /* width: 400px; */
    height: fit-content;
    padding: 0.5em;
    text-align: center;
    /* gap: 10px; */
    width: 300px;
    /* min-height: 200px; */
}


/* note */

.note-box {
    min-width: 6.25em;
    gap: 10px;
    margin: 5px;

}

.actions-icon-container {
    display: flex;
    /* width: fit-content; */
    align-items: flex-start;
    /* align-self: flex-end; */
    gap: 5px;
    margin-top: 10px;

}




/* add note */
.new-note-container {
    justify-content: center;
    margin-bottom: 30px;
}

.new-note-container input {
    height: 40px;
    border-radius: 3px;
}

.new-note-nav-container img {
    width: 20px;
    /* gap: 10px, */
    /* background-color: ; */
}

.new-note-nav-container img:hover {
    cursor: pointer;
}