/* notes */
.notes-index{

}


.note-container{
    border: 1px solid black;
    /* width: 400px; */
    height: fit-content;
    padding: 0.5em;
    text-align: center;
    display:inline-block;
    column-count: 4;
    break-inside: avoid;
}


/* note */

.note-box{
    min-width: 6.25em;
}

.actions-icon-container{   
    display: flex;
    /* width: fit-content; */
    align-items: flex-start;
    /* align-self: flex-end; */
    gap: 5px;
    margin-top: 10px;

}