/* notes */
.notes-index {
    background-color: #f4f0ec;
    /* font-family: bray; */

}

.notes-index h3 {
    /* font-family: bray; */

}


.notes-container {
    /* display: flex;
    flex-wrap: wrap; */
    column-count: 4;
    gap: 10px;
    display: inline-block;
    margin: 0 auto
}

.note-nav-container {
    break-inside: avoid;
    page-break-inside: avoid;
    border: 1px solid black;
    /* width: 400px; */
    /* min-height: 150px; */
    padding: 0.5em;
    text-align: center;
    gap: 10px;
    margin: 10px;
    width: 300px;
    /* min-height: 200px; */
}


/* note */

.note-box {
    min-width: 6.25em;
    gap: 10px;
    margin: 5px;

}

.actions-icon-container {
    visibility: hidden;
    /* width: fit-content; */
    /* align-ite ms: flex-start; */
    /* align-self: flex-end; */
    gap: 5px;
    margin-top: 10px;
    justify-content: end;
    /* display: none; */
}

.note-nav-container:hover .actions-icon-container {
    visibility: visible;
    display: flex;
}

/* note-img */
.note-img {
    cursor: pointer;
}

/* add note */
.new-note-container {
    justify-content: center;
    margin-bottom: 30px;
}

.new-note-container input {
    height: 40px;
    border-radius: 3px;
}

.new-note-nav-container img {
    width: 18px;
    /* gap: 10px,
    /* background-color: ; */
}

.new-note-nav-container img:hover {
    cursor: pointer;
}

.todo-header {
    margin-bottom: 15px;
}

/* todos */
.note-todos-container {
    /* column-count: 4; */
    /* display: grid;
    columns: 4; */
    justify-content: space-around;
}

.croessedOut {
    text-decoration: line-through;
}

.todo {
    text-decoration: unset;
}

.todo-input input {
    background-color: #f4f0ec;
    ;
    ;
}


/* Add new note bar */
.new-note {
    /* margin-top: 2em; */
    /* justify-content: center;
    align-items: center; */
}